/*
 Theme Name:   Twenty Seventeen Child
 Description:  Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
 Author:       themightymo
 Template:     twentyseventeen
 Version:      1.2.4
*/

div.entry-content {
    float: none !important;
    width: 100% !important;
}
#gform_wrapper_2, #gform_wrapper_1, #gform_wrapper_3 {
    max-width: 414px;
}
#gform_wrapper_1 label, #gform_wrapper_2 label, #gform_wrapper_3 label {
    float: left;
    margin-bottom: 0;
    line-height: 2.3em;
    width: 68%;
    color: #fff;
}
#gform_wrapper_1 .gfield, #gform_wrapper_2 .gfield {
    margin-right: 0;
    background-color: #4eb56e;
    overflow: auto;
    padding: 8px 16px;
}
#gform_wrapper_1 .ginput_container_number, #gform_wrapper_2 .ginput_container_number, #gform_wrapper_3 .ginput_container_number {
    float: right;
    width: 30%;
    margin-top: 0;
}
#field_2_7 > div.gfield_description, #field_1_4 > div.gfield_description {
    padding-left: 16px;
    margin-left: 0;
    width: 100%;
    color: #fff;
}
#field_2_3 > div > div.instruction {
    display: none;
}
#gform_submit_button_1, #gform_submit_button_2 {
    background-color: #4b8e5f !important;
}
#gform_wrapper_1 input, #gform_wrapper_2 input {
    margin-bottom: 0;
    width: 100%;
    background-color: #71cf8e;
    border: none;
}
#input_2_2, #input_2_4, #input_2_6, #input_1_3 {
    background-color: #4eb56e !important;
    border: 1px solid #d3c4e0 !important;
    color: #fff;
}
#field_2_8, #field_1_5 {
    background-color: #4b8e5f !important;
}
#gform_wrapper_1 h2.gsection_title, #gform_wrapper_2 h2.gsection_title {
    color: #fff;
    font-weight: 200;
}